/* Error: expected ";".
 *     ,
 * 597 | $header-logo-height:                    auto !default                                             /* you may need to change this depending on your logo design *∕
 *     |                                                                                                                                                                  ^
 *     '
 *   variables.scss 597:117  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a     \2577 \a 597 \2502  $header-logo-height:                    auto !default                                             /* you may need to change this depending on your logo design */\d\a     \2502                                                                                                                                                                   ^\a     \2575 \a   variables.scss 597:117  root stylesheet';
}
